<?xml version="1.0"?>
<launch>

    <!-- <arg name="bag" default="false" /> -->
    <arg name="openni" default="true" />

    <!-- <true name="camera_info_url" value="$(find liam_neeson)/ost.yaml" -->

<!--     <include file="$(find liam_neeson)/launch/baxter_sim.launch">
        <arg name="gazebo" value="false"/>
    </include> -->

<!--     <group if="$(arg bag)">
        <node pkg="rosbag" type="play" name="rosbag" args="-l $(find liam_neeson)/bag/$(arg bag_file)"/> -->
       <!--  <node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="$(find test_cv)/bag/">
            <remap from="image" to="/camera/rgb/image"/>
        </node> -->
<!--     </group> -->

    <include if="$(arg openni)" file="$(find openni_launch)/launch/openni.launch" >
        <arg name="depth_registration" value="true" />
    </include>
<!-- 
    <node if="$(arg rviz)" pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find pow_analyzer)/launch/pow_rviz.vcg"/>

    <group if="$(arg test)">
        <node name="openv_test" pkg="liam_neeson" type="test.py" /> 
    </group> -->

</launch>
